<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great!</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://www.researchgate.net/profile/{{ site.researhgate_name }}">
                <span class="iconify" data-icon="fa-brands:researchgate" data-inline="false" style="color: black;" data-width="60" data-height="60"></span>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-github-alt"></i>
                </a> 
            </div>
            <!--
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                <i class="fa fa-linkedin-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
                <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://publons.com/researcher/{{ site.publons_name }}">
                <span class="iconify" data-icon="simple-icons:publons" data-inline="false" style="color: #336699;" data-width="60" data-height="60"></span>
                </a>
            </div>
             -->
    </div>
</section>
