<section class="bg-primary" id="prototype_test">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Do you want to test our prototype?</h2>
                <hr class="light">
                <p class="text-faded">The electrocardiogram (ECG) is a non-invasive representation of the electrical activity of the heart from electrodes placed on the surface of the torso. Automatic detection and classification of cardiac abnormalities can assist physicians and cardiologists in the diagnosis of the growing number of ECGs recorded. </p>
                <p class="text-faded"> We are making a tool to assist cardiologists and physicians with diagnosing athlete's hearts by using Deep Learning to interpret their ECGs. The tool should not replace doctors or cardiologists but act as a decision support tool in the process of cardiovascular screening of athletes </p>
                <p class="text-faded"> Do you want to try our prototype? </p>
                <a href="https://ecgtestapp.herokuapp.com/" class="btn btn-default btn-xl">Try our web app</a>
            </div>
        </div>
    </div>
</section>
