<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ECG digitizer - making old ECGs AI ready</h2>
                <hr class="light">
                <p class="text-faded">The electrocardiogram (ECG) is a non-invasive representation of the electrical activity of the heart from electrodes placed on the surface of the torso. Automatic detection and classification of cardiac abnormalities can assist physicians and cardiologists in the diagnosis of the growing number of ECGs recorded. Most ECGs are stored as printed paper-ECG or as scanned images of paper-ECG and this is not optimal for AI-purposes. </p>
                <p class="text-faded"> ECG Digitizer aims to develop a tool that can digitize scanned ECGs to make these ECGs relevant to AI research. </p>
                <p class="text-faded"> Are you interested? </p>
                <a href="#about" class="btn btn-default btn-xl">Contact us</a>
            </div>
        </div>
    </div>
</section>
