<section id="the_idea">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our idea</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-running wow bounceIn text-primary"></i>
                    <h3>Interpretation Criterias made for athletes</h3>
                    <p class="text-muted">Based on the</p>
                    <a href="https://pubmed.ncbi.nlm.nih.gov/28258178/">International Criteria for Electrocardiographic Interpretation in Athletes</a> 
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-brain wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Deep learning and rule-based algorithms</h3>
                    <p class="text-muted">The algorithms are both rule-based and based on Deep Neural Nets</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-life-ring wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Decision support</h3>
                    <p class="text-muted">The algorithm provides decision support for for doctors and cardiologists.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-handshake-o wow bounceIn text-primary" aria-hidden="true" data-wow-delay=".3s"></i>
                    <h3>Trust and explainability</h3>
                    <p class="text-muted">Explanability allows doctors to rely on the decisions of the algorithms</p>
                </div>
            </div>
        </div>
    </div>
</section>
